*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

img{
    width: 100%;
    height: auto;
}
:root{
    --primary-color:rgb(11,181,48) ;
    --secondary-color: rgba(36,122,55,0.9) ;
    --padding: 0.5 rem;
    --transition: all 0.3s;
    --border-radius: 0.6 rem;
    --box-shadow: 0.1 rem 0.2 rem 0.8 rem rgba(205,202,202,0.5);

}
#menu-icon{
    display: none;
}
nav{
    font-family: fantasy;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.flex-around{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.nav-upper{
    min-height: 10 vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
}
.nav-list{
    transform: var(--transition);

}
.nav-list:hover{
    text-decoration: overline;
    color: black;
}
.nav-link{
    transition: var(--transition);
    color: white;
}
.nav-lower{
    min-height: 10vh;
    background-color: var(--secondary-color);
    
}
.nav-brand{
    font-size: 2rem;
}
@media (max-width: 992px)
{
    .flex-around{
        flex-direction: column;
        gap: 1rem;
        padding:1rem 0px
    }
    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0rem;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .header{
        height: 100vh;
    }

}
@media (max-width: 768px){

}
.header{
    padding: 4rem 0;
    height: 80vh;
    width: 100%;
    background: url(images/ecommerce-web-page-concept-illustration_114360-8204.jpg) no-repeat center ;
    background-attachment: fixed;
    background-size: cover;
}
.banner
{
height:100%;
width: 100%;
flex-direction: column;
}
.banner-title
{
    font-size: 4rem;
    color: yellow;
    padding: 1rem;
    border-radius: var(--border-radius);
}
.features
{
    width:100%;

}
.feature
{
    background-color: rgba(80,160,78,0.7);
    color: white;
    border: var(--border-radius);
    padding: 1rem;
    width:15rem;
    flex-direction: column;
    gap:1rem;


}
.feature-icon{
 font-size: 3rem;
}
.flex-center
{
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer{
    padding: 1rem;
    background-color: var(--primary-color);
    min-height: 10vh;
    color: white;
    font-size: 1.1rem;
}
.main{
    padding: 4rem 0;
    height: 80vh;
}
.side-bar{
    flex: 1;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-self: flex-start;
}
.main-content{
    flex: 3;
}
